# %( filter upper %)%(( name %))%( endfilter %)
## %(( title %))

%( for p in contact.phone %) * %(( p %)) %( endfor %)
%( for e in contact.email %) * <%(( e %))> %( endfor %)
%( for w in contact.web %) * <%((w.link %))> %( endfor %)
%( endfor %)

> %(( summary %)) [Last update: %(( last_update %))]



## Overview

### Skill areas
%( for s in overview.skills %) * %(( s.area %)) (%(( s.years %)) %( if s.years > 1 %)years%( else %)year%( endif %) / %(( s.proficiency %)))
%( endfor %)


## Experience
%( for e in experience %)
### %(( e.title %)) -- %(( e.start %)) to %(( e.end %))
#### %( if e.organization.link %)[%(( e.organization.name %))](%(( e.organization.link %)))%( else %)%(( e.organization.name %))%( endif %)%( if e.organization.under %) (under %(( e.organization.under %)))%( endif %), %(( e.organization.location %))

%(( e.summary %)) %(( e.organization.description %))

%( for t in e.tasks %) * %(( t %))
%( endfor %)
%( endfor %)

## Other information

**Interests**: %( for i in overview.interests %)%(( i %))%( if not loop.last %), %( endif %)%( endfor %)

### Qualifications
%( for e in credentials.education %) * **%(( e.degree %))** major in %(( e.major %)), %(( e.year %))

   %(( e.school %))
%( endfor %)
%( for c in credentials.certification %) * **%(( c.title %))**, %(( c.date %))
%( endfor %)
### Languages
%( for l in overview.languages %) * %(( l.language %)) (%(( l.years %)) %( if l.years > 1 %)years%( else %)year%( endif %) / %(( l.proficiency %)))
%( endfor %)
### Platforms
%( for p in overview.platforms %) * %(( p.platform %)) (%(( p.years %)) %( if p.years > 1 %)years%( else %)year%( endif %) / %(( p.proficiency %)))
%( endfor %)
### Tools
%( for t in overview.tools %) * %(( t.name %)): %( for n in t.tools %)%(( n.tool %))%( if not loop.last %), %( endif %)%( endfor %)
%( endfor %)

## References
%( for r in references %)
 * %(( r.name %))
   %( if r.title %)%(( r.title %)), %(( r.organization %))%( endif %)
   %( if r.contact.phone %)%(( r.contact.phone %))%( endif %)%( if r.contact.email %), %(( r.contact.email %))%( endif %)
%( endfor %)
